nav {
    background: linear-gradient(4000deg, rgba(18, 172, 238, 0.945), rgba(34, 176, 5, 0.945) 70.71%);
}
main{
    margin-top: 50px;
}
.baner img{
    width: 100%;
}
.contacto{
    background: linear-gradient(217deg, rgba(18, 172, 238, 0.945), rgba(34, 176, 5, 0.945) 70.71%);
    border-radius: 15% 0px 15% 0%;
}

.footer{
    background: linear-gradient(217deg, rgba(18, 172, 238, 0.945), rgba(34, 176, 5, 0.945) 70.71%);
    border-radius: 45% 0px 30% 0%;
}

/* MEDIAQUERIES */
@media screen and (max-width:760px){
    .responsive{
        /* display: none; */
        font-size: 15px;
    }
    .carousel-indicators{
        display: none;
    }
    .contactos{
        /* display: none; */
        font-size: 18px;
    }
}